<h2>Home</h2>

<ul> 
    {{#each stores}}
    <li>
  
     <a href="models/stores/{{_id}}">{{name}}</a>
   
    </li>
    {{/each}}
</ul>

<ul> 
    {{#each clients}}
    <li>
  
     <a href="/clients/{{_id}}">{{name}}</a>
   
    </li>
    {{/each}}
</ul>

<ul> 
    {{#each products}}
    <li>
  
     <a href="/products/{{_id}}">{{name}}</a>
   
    </li>
    {{/each}}
</ul>