<div class="h">
    <h1>Database</h1>
</div>

<div class="container">
    <div class="first">
         <div class="txt">
        <label class="st">All Stores</label>
        <a class="link" href='/stores/new'>New</a><br></br>
        </div>
        <ul>
            {{#each stores}}
            <li>
                <a href="/stores/{{_id}}">{{name}}</a>
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="second">
         <div class="txt">
        <label class="cl">All Clients</label>
        <a class="link" href='/clients/new'>New</a><br></br>
         </div>
        <ul>
            {{#each clients}}
            <li>
                <a href="/clients/{{_id}}">{{name}}</a>
            </li>
            {{/each}}
        </ul>


    </div>

    <div class="third">
        <div class="txt">
        <label>All Products</label>
        <a href='/products/new'>New</a><br></br>
        </div>
        <ul>
            {{#each products}}
            <li>

                <a class="list1" href="/products/{{_id}}">{{name}}</a>

            </li>
            {{/each}}
        </ul>
    </div>

</div>

<div class="footer">
    <label>© 2019 New Tech</label>
</div>