<a class="back" href="/stores/{{store._id}}">â‡ Go Back</a><br></br>
<form method="POST" action="/stores/{{store._id}}?_method=PUT">
<div class="input">

    <div class="nume">
    <label for="name">Name</label>
     <input class="w3-input" name="name" placeholder="e.g.Best Buy" type="text" value="{{store.name}}" id="name1"/>
     </div>
     <div class="adresa">
    <label>Address</label>
    <input class="w3-input" name="Address" placeholder="Address,city,state,ZIP code" value="{{store.Address}}" id="name1"/>
    </div>

    <div class="box">
    <label>Currently Open</label>
    <input class="w3-input" type="checkbox"  name="currentlyOpen"  id="name1" value="true" {{#if store.currentlyOpen}} checked {{/if}}/> 
    </div>

     <div class="tel">
    <label>Phone Number</label>
    <input class="w3-input" name="phoneNumber" type="Tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="{{store.phoneNumber}}" placeholder="XXX-XXX-XXXX" id="name1"/>
    </div>
    <input type="submit" value="Submit changes" id="change"/>
</form>
</div>
