<a href="/stores/{{store._id}}/edit">Edit Store</a>
<div>
    <p>name: {{store.name}}</p>
    <p>Address: {{store.Address}}</p>
    <p>currentlyOpen: {{#if store.currentlyOpen}} Open {{else}} Closed {{/if}}</p>
    <p>phoneNumber: {{store.phoneNumber}}</p>
</div>

<form method="POST" action="/stores/{{store._id}}?_method=DELETE">
    <input type="submit" value="Delete store"/>
</form>
<a class="back" href="/homeScreen">⇐ Go Back</a>