<form method="POST" action="/clients/{{client._id}}?_method=PUT">
    <label class="naame">Name</label>
    <input type="text" name="name" value="{{client.name}}"/><br></br>

    <label class="naame">Address</label>
    <input type="text" name="Address" value="{{client.Address}}"/><br></br>

    <label class="naame">Age</label>
    <input type="number" name="Age" value="{{client.Age}}"/><br></br>

    <label class="naame">Purchase</label>
    <input type="text" name="Purchase" value="{{client.Purchase}}"/><br></br>
     
    <label clas="naame">Date</label>
    <input type="date" name="Date" value="{{client.Date}}"/><br></br>

     <input class="" type="submit" value="Submit changes"/>
</form>