<a class="back" href="/clients/{{client._id}}">⇐ Go Back</a><br></br>
<form method="POST" action="/clients/{{client._id}}?_method=PUT">
    <div class="input">

        <div class="nume">
            <label>Name</label>
            <input class="w3-input" placeholder="e.g.George Collins" type="text" name="name" id="name1"
                value="{{client.name}}" />
        </div>

        <div class="nume">
            <label>Address</label>
            <input class="w3-input" type="text" name="Address" placeholder="Addres,city,state,ZIp code" id="name1"
                value="{{client.Address}}" />
        </div>

        <div class="adresa">
            <label>Store Name</label>
            <input class="w3-input" placeholder="e.g.Best Buy" type="text" name="StoreName" value="{{client.StoreName}}"
                id="name1" />
        </div>

        <div class="nume">
            <label>Product Id</label>
            <input class="w3-input" placeholder="e.g.05669tkgj66" type="text" name="Purchase" id="name1"
                value="{{client.Purchase}}" />
        </div>
        <div class="adresa">
            <label class="naame">Date</label>
            <input class="w3-input" placeholder="mm/dd/yyyy" type="date" name="Date" value="{{client.Date}}"
                id="name1" />
        </div>
        <input type="submit" value="Submit changes" id="change" />
</form>
</div>