<a href="/clients/{{client._id}}/edit">Edit</a>
<div>
    <p>Name: {{client.name}}</p>
    <p>Address: {{client.Address}}</p>
    <p>Age: {{client.Age}}</p>
    <p>Purchase: {{client.Purchase}}</p>
    <p>Date: {{client.Date}}</p>
</div>

<form method="POST" action="/clients/{{client._id}}?_method=DELETE">
    <input type="submit" value="Delete Client"/>
</form>