<div>
    <p>name: {{product.name}}</p>
    <p>price: {{product.price}}</p>
    <p>brand: {{product.brand}}</p>
</div>

 <a href="/products/{{product._id}}/edit">Edit Product</a>
<form method="POST" action="/products/{{product._id}}?_method=DELETE">
 
    <input type="submit" value="Delete product"/>
</form>