 <a href="/products/{{product._id}}/edit">Edit Product</a>
<div>
    <p>name: {{product.name}}</p>
    <p>price: {{product.price}}</p>
    <p>brand: {{product.brand}}</p>
</div>

<form method="POST" action="/products/{{product._id}}?_method=DELETE">
 
    <input type="submit" value="Delete product"/>
</form>
<a class="back" href="/products">⇐ Go Back</a>